html {
    color:#000;
    background:#FFF;
    height:100%;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,
input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0
}
body {
    line-height: 1.5;
    font: 12px/100%  "SimSun arial","Times New Roman","Times", "serif";
    height:100%;
}
ul,li,ol{list-style: none;}
.meeting-box{padding: 50px 20px;position: relative;height: 100%;box-sizing: content-box;}
.meeting-list{position: absolute;top:85px;left:40px;width:1290px;color:#fff;z-index: 10;}
.meeting-item{height:40px;margin: 20px 0;display: flex;flex-flow: row;}
.meeting-name{height:40px;line-height:40px;font-size: 20px;color:#111;width:95px;text-align: center;display: inline-block;margin: 0 10px 0 0;}
.meeting-time{height: 100%;background: #34A637;flex: 1;position: relative;}
.time-item{box-sizing: border-box;height:100%;position: absolute;top:0;left:0;border-right:1px solid #ffffff;overflow: hidden;text-align: center;overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;}
.time-disabled{background-color:#F97370;}
.time-past{background: #C7C7C7;cursor: wait;}
.time-title{height:20px;line-height: 20px;font-weight: 500;font-size: 14px;white-space: nowrap;overflow: hidden;    text-overflow: ellipsis;}
.time-range{height:15px;line-height: 15px;font-size: 12px;}